* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#header-saylani {
    text-align: center;
    position: relative;
    margin: 0px 156px 0px 144px;
    padding-top: 14px;
}

#header-saylani::before {
    content: "";
    background: url(https://images.unsplash.com/photo-1541462608143-67571c6738dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    opacity: 0.1;
    left: 0;
    height: 100%;
    z-index: -1;
    background-position: 50% 0%;
    top: 0;
}

.smit {
    width: 250px;

}

#social {
    display: flex;
    justify-content: space-evenly;
    padding-top: 9px;
}

.anchor {
    display: flex;
    gap: 20px;
}


svg {
    color: #0d6db7;
    height: 1em;
    width: 1em;
}

#btn {
    border-radius: 20px;
    color: #0d6db7;
    border: 1px solid #0d6db7;
    font-size: 14px;
    padding: 9px 21px 4px 21px;
    display: flex;
    justify-content: center;
    gap: 6px;
    background: transparent;
    cursor: pointer;
    transition: 0.5s;
}

#btn:hover {
    background-color: white;

}

.btn-stu {
    font-weight: bold;
    font-size: 14px;
}

h2.main-heading {
    color: #000000d9;
    font-size: 30px;
    font-weight: 600;
}

.services {
    margin-top: 18px;
    font-size: 14px;
    color: #666;
    padding-bottom: 16px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
}

.nav-btn {
    padding: 4px;
    font-size: 13px;
    border: none;
    padding: 7px 15px 7px 20px;
    cursor: pointer;
    background-color: #66666610;
    border-radius: 2px;
    color: #0d6db7;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav-btn a {
    text-decoration: none;
    color: #0d6db7;
}

.nav-btn a:visited {
    color: #8dc63f;
}

.nav-btn:hover {
    background-color: transparent;
    border-bottom: none;
}

hr {
    opacity: 0.3;
}

.mainform {
    display: flex;
    margin-top: 20px;
    line-height: 1.7;
    margin-left: 34px;
}

label {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0d6db7;
    font-weight: bold;
}

.first-form,
.second-form,
input,
select {
    height: 52px;
    width: 70%;
    border-radius: 7px;
    padding-left: 9px;
}

input,
select,
option {
    border: 1px solid #8dc63f;
}